.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.wrap {
    width: 920px;
    margin: 0 auto;
}
.result {
    border: 2px solid blue;
    width: 200px;
    min-height: 200px;
    padding: 20px;
    color: red;
    margin: 0 0 10px;
}
.aside {
    float: right;
    width: 244px;
}
dl {
    font-weight: bold;
}
dt {
    border-top: 1px solid #ccc;
}
dd {
    text-align: right;
    color: grey;
    margin: 0;
}
dl dt:first-child {
    border: none;
}
.total {
	color: black;
    font-size: 60px;
    font-family: Arial;
	font-weight: bold;
	text-align: right;
	border-top: 1px solid black;
}
.removeLast {
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    cursor: pointer;
    background: pink;
    float: left;
    font-family: arial;
    font-size: 20px;
}
.emptyCarr {
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    cursor: pointer;
    background: red;
    float: right;
    font-family: arial;
    font-size: 20px;
}
.related ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}