.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.wrap {
    width: 920px;
    margin: 0 auto;
}
.result {
    border: 2px solid blue;
    width: 200px;
    min-height: 200px;
    padding: 20px;
    color: red;
    margin: 0 0 10px;
}
.main {
    float: left;
    width: 676px;
}
.aside {
    float: left;
    width: 244px;
}
dl {
    font-weight: bold;
}
dt {
    border-top: 1px solid #ccc;
}
dd {
    text-align: right;
    color: grey;
    margin: 0;
}
dl dt:first-child {
    border: none;
}
.total {
	color: black;
    font-size: 60px;
    font-family: Arial;
	font-weight: bold;
	text-align: right;
	border-top: 1px solid black;
}
.removeLast {
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    cursor: pointer;
    background: pink;
    float: left;
    font-family: arial;
    font-size: 20px;
}
.emptyCarr {
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    cursor: pointer;
    background: red;
    float: right;
    font-family: arial;
    font-size: 20px;
}
.related ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

/* TOOLTIP */

.tooltip {
    background: #000;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
    max-width: 100px;
    text-align: center;
    pointer-events: none;
    position: absolute;
}
.tooltip::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

/* LIGHTBOX */
/*
.holderFlexbox {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0,0,0,0.7);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}*/
.lightbox {
    position: fixed;
    z-index: 1;
    padding: 20px;
    border: 3px solid #333;
    border-radius: 10px;
    left: 50%;
    top: 50%;
    background: #fff;
    display: none;
}
.lightbox .close {
    border-radius: 100%;
    border: 3px solid #333;
    width: 46px;
    height: 46px;
    line-height: 43px;
    font-size: 30px;
    font-weight: bold;
    font-family: "arial";
    cursor: pointer;
    position: absolute;
    right: -24px;
    top: -24px;
    background: #fff;
}