.clearfix:after {
    content: "";
    clear: both;
    display: table;
}

.wrap {
    width: 920px;
    margin: 0 auto;
}
.result {
    border: 2px solid blue;
    width: 200px;
    min-height: 200px;
    padding: 20px;
    color: red;
    margin: 0 0 10px;
}
.main {
    float: left;
    width: 676px;
}
.aside {
    float: left;
    width: 244px;
}
dl {
    font-weight: bold;
}
dt {
    border-top: 1px solid #ccc;
}
dd {
    text-align: right;
    color: grey;
    margin: 0;
}
dl dt:first-child {
    border: none;
}
.total {
	color: black;
    font-size: 60px;
    font-family: Arial;
	font-weight: bold;
	text-align: right;
	border-top: 1px solid black;
}
.removeLast {
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    cursor: pointer;
    background: pink;
    float: left;
    font-family: arial;
    font-size: 20px;
}
.emptyCarr {
    border: none;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    cursor: pointer;
    background: red;
    float: right;
    font-family: arial;
    font-size: 20px;
}
.related ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}

/* TOOLTIP */

.tooltip {
    background: #000;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    max-width: 150px;
    text-align: center;
    pointer-events: none;
    position: absolute;
}
.tooltip:after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border: 5px solid transparent;
    border-top-color: #000;
}
.tooltip.bottom:after {
    top: -10px;
    border-top-color: transparent;
    border-bottom-color: #000;
}
.tooltip.left:after {
    top: 50%;
    left: unset;
    right: -10px;
    margin-top: -5px;
    border-top-color: transparent;
    border-left-color: #000;
}
.tooltip.right:after {
    top: 50%;
    left: -5px;
    margin-top: -5px;
    border-top-color: transparent;
    border-right-color: #000;
}

/* LIGHTBOXES */

.holder {
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    text-align: center;
}
.lightbox {
    position: fixed;
    padding: 20px;
    border: 3px solid #333;
    border-radius: 10px;
    background: #fff;
    left: 50%;
    top: 50%;
    display: none;
}

.holderVert {
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    text-align: center;
    white-space: nowrap;
}
.holderVert:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}
.vertLightbox {
    position: relative;
    padding: 20px;
    border: 3px solid #333;
    border-radius: 10px;
    background: #fff;
    display: inline-block;
    vertical-align: middle;
    max-width: 90%;
    white-space: normal;
}

.holderFlex {
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
}
.flexLightbox {
    position: relative;
    padding: 20px;
    border: 3px solid #333;
    border-radius: 10px;
    background: #fff;
}

.lightbox .close,
.vertLightbox .close,
.flexLightbox .close {
    border-radius: 100%;
    border: 3px solid #333;
    width: 46px;
    height: 46px;
    line-height: 43px;
    font-size: 30px;
    font-weight: bold;
    font-family: "arial";
    cursor: pointer;
    position: absolute;
    right: -24px;
    top: -24px;
    background: #fff;
}
